body {
	margin: 0;
	padding: 0;
}

html, body, .scrollWrapper {
	height: 100%;
	overflow: hidden;
}

.scrollWrapper {
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
}

body.openLayer .scrollWrapper {
	-webkit-overflow-scrolling: auto;
}
.clearfix{
	display: inline-block;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
.clearfix:after{
	display: block;
	content: '';
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}
